.p-datatable {
    th {
        &.center {
            .p-column-header-content {
                display: grid;
                grid-template-columns: auto;

                &:has(div[data-pc-section="columnfilter"]) {
                    grid-template-columns: 1fr auto 1fr;

                    .p-column-title {
                        grid-column: 2;
                    }
                }

                &:has(span[data-pc-section="sort"]) {
                    grid-template-columns: 1fr 1fr auto 1fr 1fr;

                    span[data-pc-section="sort"] {
                        text-align: left;
                    }

                    .p-column-title {
                        grid-column: 3;
                    }
                }

                .p-column-title {
                    text-align: center;
                }
            }
        }

        &.fit {
            white-space: nowrap;
            width: 0;
        }
    }

    td {
        &.center {
            text-align: center;
        }

        &.fit {
            white-space: nowrap;
            text-align: center;
        }
    }
}