body,
html {
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
}

html {
  overflow-y: hidden;
}


@layer utilities {
  .bg-discord {
    background-color: #7289da;
    color: white;
  }

  .bg-youtube {
    background-color: red;
    color: white;
  }

  .clickable {
    cursor: pointer;

    &:hover {
      filter: brightness(110%);
      color: var(--highlight-text-color);
    }
  }
}